/* Selectores globales */
/*#f05742*/

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    flex: 1;
}

main{
    display: flex;
    margin-top: 50px;
    min-height: calc(100vh - 87px);
    background-color: #f7f7f7;
}

section{
    padding: 35px 50px;
}

header{
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #f7f7f7;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 10;
    -webkit-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.24);
    box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.24);
}

header img{
    height: 50px;
}

h2{
    color: #f05742;
    margin-bottom: 10px;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #f05742;
    width: 100%;
    bottom: 0;
}

/*Seccion de componentes*/
.grid-componentes{
    font-size: 10px;
    display: grid;
    grid-template-columns: repeat(3, 132px);
    gap: 5px;
}

.componente{
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    width: 130px;
    background-color: #eb7768;
    cursor: pointer;
}

.componente:hover{
    border: 1px solid #eb7768;
}

.componente img{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#section-componentes{
    display: grid;
    grid-template-columns: repeat(2, 406px);
    gap: 40px;
    overflow-y: auto;
}

.components-data{
    padding: 2px 4px; 
}

/*Seccion de la cesta*/
#cesta-container{
    position: sticky;
    top: 85px;
}

#cesta{
    background-color: white;
    border: 1px solid #c0c0c0;
    border-radius: 7px;
    padding: 3px;
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(3, 242px);
    grid-template-rows: repeat(2, 224px);
    gap: 5px;
}

.cesta-componente{
    display: flex;
    flex-direction: column;
    gap: 0px;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    width: 240px;
}

.cesta-componente img{
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.nombre{
    background-color: #c0c0c0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(2, 16px);
    align-items: center;
}

.grid-model{
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid-price{
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid-trash{ 
    justify-self: end;
    grid-row: 1/3;
    grid-column: 2/3;
    cursor: pointer;
}

.grid-trash:hover{
    color: #7c7c7c;
}

#vaciar-cesta{
    padding: 10px;
    font-family: inherit;
    font-weight: 500;
    background-color: #c0c0c0;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.25s;
}

#vaciar-cesta:hover{
    background-color: #969696;
}

#precio-total{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: end;
    font-weight: 800;
}

#precio{
    color: #f05742;
}